{
  "mcpServers": {
    "roxybrowser-openapi": {
      "command": "npx",
      "args": ["-y", "@roxybrowser/openapi@beta"],
      "env": {
        "ROXY_API_KEY": "YOUR_ROXY_API_KEY",
        "ROXY_API_HOST": "http://127.0.0.1:50000"
      }
    },
    "roxybrowser-playwright-mcp": {
      "command": "npx",
      "args": ["-y", "@roxybrowser/playwright-mcp@latest"]
    }
  }
}
